In [2]:
import pandas as pd

In [25]:
df_train = pd.read_csv('dataset/cnn_dailymail/train.csv')
df_valid = pd.read_csv('dataset/cnn_dailymail/validation.csv')
df_test = pd.read_csv('dataset/cnn_dailymail/test.csv')

In [26]:
df_train.head()

                                         id  ...                                         highlights
0  0001d1afc246a7964130f43ae940af6bc6c57f01  ...  Bishop John Folda, of North Dakota, is taking ...
1  0002095e55fcbd3a2f366d9bf92a95433dc305ef  ...  Criminal complaint: Cop used his role to help ...
2  00027e965c8264c35cc1bc55556db388da82b07f  ...  Craig Eccleston-Todd, 27, had drunk at least t...
3  0002c17436637c4fe1837c935c04de47adb18e9a  ...  Nina dos Santos says Europe must be ready to a...
4  0003ad6ef0c37534f80b55b4235108024b407f0b  ...  Fleetwood top of League One after 2-0 win at S...

[5 rows x 3 columns]

In [27]:
df_test['article'][26]

"A bomb technician has used his expertise to create an Easter egg hunt for blind children - using beeping eggs. David Hyche, now a special agent at the Bureau of Alcohol, Tobacco and Firearms (ATF), developed the technology nine years ago when his four-month-old daughter turned blind. A transmitter is placed inside plastic eggs that let off a high-pitched beeping sound. Now Hyche has passed on the idea to the Alabama Institute for Deaf and Blind in Birmingham. Festive invention: Blind children in Birmingham, Alabama, have celebrated Easter early by hunting for plastic eggs that let of a beeping sound. They trade the eggs in for candy . The device: Bomb expert David Hyche put a transmitter in a plastic egg so his daughter could join the fun . 'With my daughter, one of her first phrases was, 'I do it myself.' She wants to do it by herself and most of these kids want to do that too,' he told WBRC. 'It's logical for people who are explosives investigators. It's just a battery, beeper and a switch... pretty simple.' Giggling and running around the play area at Brimingham's regional center, the blind children filled baskets with the beeping eggs, before trading them in for candy. 'We love to give the opportunity for our children with disabilities and their families to come out and have the same opportunity as everybody else does,' said Tamara Harrison with the Alabama Institute. Hyche (pictured) came up with the device when his daughter turned blind nine years ago . The father has shared his idea with the Alabama Institute for Deaf and Blind (pictured) this year ."

In [28]:
df_test['highlights'][26]

'Bomb expert David Hyche created the eggs when his daughter turned blind .\nThe children follow sound of a beeper in a plastic egg, trade it for candy .\nHe has now passed on the idea to Alabama Institute for Deaf and Blind .'

In [29]:
df_train.drop('id', axis=1, inplace=True)
df_test.drop('id', axis=1, inplace=True)
df_valid.drop('id', axis=1, inplace=True)

In [30]:
df_train.head()

                                             article                                         highlights
0  By . Associated Press . PUBLISHED: . 14:11 EST...  Bishop John Folda, of North Dakota, is taking ...
1  (CNN) -- Ralph Mata was an internal affairs li...  Criminal complaint: Cop used his role to help ...
2  A drunk driver who killed a young woman in a h...  Craig Eccleston-Todd, 27, had drunk at least t...
3  (CNN) -- With a breezy sweep of his pen Presid...  Nina dos Santos says Europe must be ready to a...
4  Fleetwood are the only team still to have a 10...  Fleetwood top of League One after 2-0 win at S...

In [31]:
df_valid.head()

                                             article                                         highlights
0  Sally Forrest, an actress-dancer who graced th...  Sally Forrest, an actress-dancer who graced th...
1  A middle-school teacher in China has inked hun...  Works include pictures of Presidential Palace ...
2  A man convicted of killing the father and sist...  Iftekhar Murtaza, 29, was convicted a year ago...
3  Avid rugby fan Prince Harry could barely watch...  Prince Harry in attendance for England's crunc...
4  A Triple M Radio producer has been inundated w...  Nick Slater's colleagues uploaded a picture to...

In [32]:
df_test.head()

                                             article                                         highlights
0  Ever noticed how plane seats appear to be gett...  Experts question if  packed out planes are put...
1  A drunk teenage boy had to be rescued by secur...  Drunk teenage boy climbed into lion enclosure ...
2  Dougie Freedman is on the verge of agreeing a ...  Nottingham Forest are close to extending Dougi...
3  Liverpool target Neto is also wanted by PSG an...  Fiorentina goalkeeper Neto has been linked wit...
4  Bruce Jenner will break his silence in a two-h...  Tell-all interview with the reality TV star, 6...